<div class="right">
  <h2>Please sign up</h2>
  <form action="/users" method="post">
    <input name="email" type="email" placeholder="Email Address" required>
    <input name="password" type="password" placeholder="Password" required>
    <input name="password_confirmation" type="password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign up">
  </form>
</div>
