<div class="right">
  <h2>Please sign in</h2>
</div>
<form action="/users/sign-in" method="post">
  <div class="right">
    <input name="email" type="email" placeholder="Email Address" required>
  </div>
  <div class="right">
    <input name="password" type="password">
  </div>
  <div class="right">
    <input type="submit" value="Sign in">
  </div>
</form>
