<div class="right">
  <h2>Sign in</h2>
  <form action="/users/sign-in" method="post">
    <input name="email" type="email" placeholder="Email Address" required>
    <input name="password" type="password" placeholder="Password" required>
    <input type="submit" value="Sign in">
  </form>
</div>
