<h1>Please Sign In</h1>
<form action="/users/sign-in" method="post">
  <label for='email'>
    Email: <input name='email' type='email' required>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>
