<div class="right">
	<form action="/links/new" method="get" style="float: right;">
		<input type="submit" value="Add new link">
	</form>
</div>

<% @links.each do |link| %>
	<div class="right">
		<div style="float: left;">
		<a href="<%= link.url %>"><h3><%= link.title %></h3></a>
		</div>
		<% link.tags.each do |tag| %>
			<a href="/tags/<%= tag.name %>" class="tag">#<%= tag.name %></a>
		<% end %>
	</div>
<% end %>
