<div class="right">
  <h2>New Link</h2>
  <form action="/links" method="POST">
    <input type="text" name="title" placeholder="Website Name" required>
    <input type="text" name="url" placeholder="URL" required>
    <input type="text" name="tags" placeholder="Tags (separated by space)">
    <input type="submit" value="Create link">
  </form>
</div>
