<div class="right">
  <h2>New Link</h2>
</div>
<form action="/links" method="POST">
  <div class="right">
    <input type="text" name="title" placeholder="Website Name" required>
  </div>
  <div class="right">
    <input type="text" name="url" placeholder="URL" required>
  </div>
  <div class="right">
    <input type="text" name="tags" placeholder="Tags (separated by space)">
  </div>
  <div class="right">
    <input type="submit" value="Create link">
  </div>
</form>
