<% if flash[:notice] %>
  <div class="right">
    <div id='notice'><%= flash[:notice] %></div>
  </div>
<% end %>

<% if flash[:errors] && !flash[:errors].empty? %>
  <div class="right">
    Please refer to the errors below:
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
