<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/style.css" />
    <title>Bookmark Manager</title>
  </head>

  <body>
    <div id="container">
      <div id="header"><h1><a href="/links">Bookmark Manager</a></h1></div>
      <div class="left"><%= partial :welcome %></div>
      <%= partial :flash %>
      <%= yield %>
    </div>
  </body>
</html>
